<!--song in playlist-->
<div ng-click="vm.showSong(vm.song)" on-swipe-right="vm.removeSong(vm.song)" on-swipe-left="vm.removeSong(vm.song)">
    <div class="song-meta-box" >
        <span style="display: block;">{{vm.song | songNameFilter}}</span>
        <p style="display: inline;">{{vm.song | artistNameFilter}}</p>
        <p>{{vm.song | albumNameFilter}}</p>
    </div>
  <audio ng-if="vm.isSongInContext(vm.song.xipath)" id="{{vm.song.xipath}}" name="media" style="display: none;">
    <source ng-if="vm.isSongLoaded" type="audio/mpeg" src="{{vm.song.uri | trusted}}">
  </audio>
  <div class="item range" ng-show="vm.isSongInContext(vm.song.xipath)" ng-click="vm.togglePlayingState()">
    <progress max="{{vm.duration}}" value="{{vm.currentTime.val}}"></progress>
      <i ng-show="!vm.isSongPlaying()" class="icon ion-play md-font" ></i>
      <i ng-show="vm.isSongPlaying()" class="icon ion-pause md-font" ></i>
  </div>
</div>
