<div id="scroll#{{vm.song.xipath}}" ng-click="vm.showSong(vm.song)" on-swipe-right="vm.removeSong(vm.song)" on-swipe-left="vm.removeSong(vm.song)" class="item item-thumbnail-left">
    <img ng-if="vm.isSongInContext(vm.song.xipath)" ng-src="{{vm.artist.image}}">
    <h2>{{vm.song | songNameFilter}}</h2>
    <p>{{vm.song | artistNameFilter}}</p>
    <p>{{vm.album.year}}</p>
    <audio ng-if="vm.isSongInContext(vm.song.xipath)" id="{{vm.song.xipath}}" name="media" style="display: none;">
        <source ng-if="vm.isSongLoaded" type="audio/mpeg" src="{{vm.song.uri | trusted}}">
    </audio>
</div>
<div class="item range" ng-show="vm.isSongInContext(vm.song.xipath)" ng-click="vm.togglePlayingState()">
    <progress max="{{vm.duration}}" value="{{vm.currentTime.val}}"></progress>
    <i ng-show="!vm.isSongPlaying()" class="icon ion-play md-font" ></i>
    <i ng-show="vm.isSongPlaying()" class="icon ion-pause md-font" ></i>
</div>