<button class="button button-balanced fab-btm-right" ng-click="vm.toggleSort()"><i class="icon" ng-class="!vm.isSortByHeat ? ' ion-connection-bars' : 'ion-stats-bars'"></i></button>
<button class="button button-calm fab-top-right" ng-click="vm.doRefresh()"><i class="icon ion-refresh"></i></button>
<div class="fab-scroll">
  <ion-list>
    <ion-item ng-repeat="artist in vm.artists | orderBy:vm.browseComparator">
        <button class="button button-full button-positive" ng-click="vm.setXipath(artist.xipath)">{{artist | artistTitle}}</button>
    </ion-item>
    <ion-item><!--SPACER--></ion-item>
    <ion-item><!--SPACER--></ion-item>
    <ion-item><!--SPACER--></ion-item>
  </ion-list>

</div>
