<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">

      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button style="margin-left: 100px;" class="button button-icon ion-ios-undo" ng-click="vm.goBack()"></button>
        </ion-nav-buttons>

    </ion-nav-bar>


    <!--<ion-header-bar align-title="left" class="bar-positive">

    </ion-header-bar>-->

    <ion-nav-view  cache-view="false" class="has-header" name="mainContent"></ion-nav-view>

    <ion-footer-bar align-title="left" class="bar-dark">
      <ion-tabs class="tabs-dark tabs-icon-top">
          <ion-tab title="Profile" icon-on="ion-android-contact" icon-off="ion-android-contact-outline" ui-sref="app.welcome">You</ion-tab>
          <ion-tab title="Browse" icon-on="ion-android-search" icon-off="ion-android-search-outline" ui-sref="app.artists">Browse</ion-tab>
          <ion-tab title="Playlists" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline-outline" ui-sref="app.playlists">Playlists</ion-tab>
          <ion-tab title="Radio" icon-on="ion-radio-waves" icon-off="ion-radio-waves-outline" ui-sref="app.radio">Radio</ion-tab>
      </ion-tabs>
    </ion-footer-bar>
  </ion-side-menu-content>


  <ion-side-menu side="left">
    <div class="bar bar-header" >
        <label class="toggle">
            <input ng-click="vm.toggleRadio()" ng-model="vm.listenToRadio" ng-disabled="!vm.isRadioOn()" type="checkbox">
            <div class="track">
                <div class="handle" ></div>
            </div>
        </label>
        <i class="button icon ion-radio-waves" ng-disabled="!vm.isRadioOn()"></i>
        <i disabled class="button icon ion-pin" ng-click="vm.savePlaylist()"></i>
        <i disabled class="button icon ion-shuffle" ng-click="vm.shufflePlaylist()"></i>
        <!--keep clear btn removed from other icons-->
        <i class="button icon ion-trash-b pull-right" ng-click="vm.clearPlaylist()"></i>
    </div>

    <ion-content class="has-header">
        <ion-list>
            <song model="s" ng-repeat="s in vm.playlist.songs()"></song>
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>




