.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


/* song directive */
i.md-font {
    font-size: 40px !important;
    margin-left: 5px;
}
i.lg-font {
    font-size: 60px !important;
    margin-left: 5px;
}
img.artist-avatar {
    max-width: 125px;
    max-height: 75px;
}
/* playlist menu override */
.menu.menu-left {
    width: 60% !important; }

.menu-open .menu-content {
    transform: translate3d(60%, 0px, 0px) !important;
}

/* song info directive */
img.album-cover-preview {
    width: 100px;
    max-height: 100px;
}


/* FAB */

button.fab-top-right {
    z-index: 999;

    position: absolute;
    top: 10px;
    right: 20px;
}

button.fab-btm-right {
    z-index: 999;
    position: absolute;
    bottom: 100px;
    right: 20px;
}

div.fab-scroll {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

/* album art directive */
.item-expand {
    position: relative;
    width: 100%;
    max-height: 60px;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
}

.item-expand.inactive:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgba(255, 255, 255, 0)),
            color-stop(1, rgba(255, 255, 255, 1))
    );
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
    max-height: 900px;
    transition: max-height 0.3s ease-out;
}
